<div class="container">
    <div class="box form-box">
        <h2>Mover Carpeta "{{carpetaActual.nombre}}"</h2>

        <form (ngSubmit)="moverCarpeta()">
            <div class="field input">
                <label for="directorie">Selecciona Carpeta a la cual mover</label>
                <select type="text" name="dir" id="dir" autocomplete="off" required [(ngModel)]="carptaOp">
                    <option *ngFor="let carpeta of carpetas" [value]="carpeta._id">
                        {{carpeta.path}}
                    </option>
                </select>
            </div>

            <div class="field">
                <input type="submit" class="btn" name="submit" value="Mover">
            </div>
        </form>
    </div>
</div>