<div class="card">
    <div class="card-border-top"></div>
    <div class="img-bg">
        <img class="" src="../../../../assets/{{rutaImg}}">
    </div>

    <span> Archivo: {{infoCarta.nombre + infoCarta.extension}} </span>

    <div class="buttons">
        <button (click)="copiarArchivo()"> Copiar </button>
        <button (click)="irAVerArchivo()"> Ver </button>
        <button> Mover </button>
        <button> Editar </button>
        <button> Eliminar </button>
        <button> Compartir </button>
    </div>

</div>