.card {
    width: 220px;
    height: 310px;
    background: #3405a0;
    border-radius: 15px;
    box-shadow: 1px 5px 60px 0px #100a886b;
  }
  
  .card .card-border-top {
      width: 60%;
    height: 5%;
    background: #534bf3;
    margin: 0 20% 0 20%;
    border-radius: 0px 0px 15px 15px;
  }
  
  .card .img-bg {
    width: 90px;
    height: 85px;
    background: #534bf3;
    border-radius: 15px;
    margin: auto;
  }
  
  .card span {
    font-weight: 600;
    color: white;
    text-align: center;
    display: block;
    padding: 5px 2px 10px 2px;
    margin-bottom: 5px;
    font-size: 16px;
  }
  
  .card .buttons {
    padding-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  .card button {
    margin: 0% 2% 5% 2%;
    border-radius: 10px;
    border: none;
    background: #534bf3;
    color: white;
    font-weight: 600;
  }
  
  .card button:hover {
    background: #6b64f3;
  }
  