<div class="container">
    <div class="box form-box">
        <header>Nueva Carpeta</header>
        
        <form action="" method="post">
            <div class="field input">
                <label for="name">Nombre de Carpeta</label>
                <input type="text" name="name" id="name" autocomplete="off" required>
            </div>
            <div class="field">
                <input type="submit" class="btn" name="submit" value="Crear" required>
            </div>
        </form>

    </div>
</div>