<div class="container">
    <div class="box form-box">
        <header>Mover Archivo</header>
        
        <form action="" method="post">
            <div class="field input">
                <label for="name">Archivo</label>
                <input type="text" value="Example.txt" name="name" id="name" readonly>
            </div>
            <div class="field input">
                <label for="directorie">Selecciona Carpeta</label>
                <select type="text" name="dir" id="dir" required>
                    <!getDirs();>
                    <option value="value1">Root</option>
                </select>
            </div>
            <div class="field">
                <input type="submit" class="btn" name="submit" value="Mover" required>
            </div>
        </form>

    </div>
</div>