<div class="container">
    <div class="box form-box">
        <header>Mover Archivo</header>

        <form (ngSubmit)="moverArchivo()" method="post">
            <div class="field input">
                <label for="file">Selecciona Carpeta a la cual mover</label>
                <select type="text" name="file" id="files" autocomplete="off" required [(ngModel)]="carpetaOp">
                    <option *ngFor="let carpeta of carpetas" [value]="carpeta._id">
                        {{carpeta.path}}
                    </option>
                </select>
            </div>

            <div class="field">
                <input type="submit" class="btn" name="submit" value="Mover">
            </div>
        </form>
    </div>
</div>