<div class="container">
    <div class="box form-box">
        <header>Nuevo Empleado</header>
        <form action="" method="post">
            <div class="field input">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" autocomplete="off" required>
            </div>
            <div class="field input">
                <label for="email">Password</label>
                <input type="text" name="email" id="email" autocomplete="off" required>
            </div>
            <div class="field">
                <input type="submit" class="btn" name="submit" value="Crear" required>
            </div>
        </form>
    </div>
</div>