<div class="container">
    <div class="box form-box">
        <header>Compartir Archivo</header>

        <form action="" method="post">
            <div class="field input">
                <label for="file">Archivo</label>
                <input type="text" value="Example.txt" name="name" id="name" readonly>
            </div>
            <div class="field input">
                <label for="share">Compartir a</label>
                <input type="text" name="name-sh" id="name-sh" autocomplete="on">
            </div>
            <div class="field">
                <input type="submit" class="btn" name="submit" value="Crear" required>
            </div>
        </form>

    </div>
</div>